:host ::ng-deep {
  .p-inputtext:enabled:focus, .p-button:focus{
    box-shadow: none;
  }
  .card {
    background: #fff;
    height: 90%;
    padding: 1.25rem;
    border-radius: var(--border-radius);
    margin: 1rem;

    .p-button {
      transform: scale(0.8)
    }

    .p-component {
      font-size: 0.875rem;
    }
  }

  .p-datepicker {
    transform: scale(0.8); /* Adjust the scale to your desired value */
  }
}

