:host ::ng-deep {
  .p-inputtext:enabled:focus, .p-button:focus{
    box-shadow: none;
  }
  .card {
    background: #fff;
    height: 90%;
    padding: 1.25rem;
    border-radius: var(--border-radius);
    margin: 1rem;

    .p-button {
      transform: scale(0.8)
    }
  }
  .p-datatable .p-datatable-header {
    background-color: inherit;
    border: none;
    padding: 0;
    font-weight: 600;
  }

  .p-component {
    font-size: 0.875rem;
  }
  .p-datatable .p-datatable-thead > tr > th {
    padding: 1rem 1rem;
    font-weight: 600;
    color: #495057;
  }
  .dialog-content-container p-inputnumber{
    flex-grow: 1;
  }
}

